.ongoing-image{
    border-radius: 60px !important;
}

.ongoing-title{
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: overline;
}


// Media query

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){ 
    .ongoing-image{
        border-radius: 20px !important;
    }
   }
  
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) and (min-width: 575.98px)  { 
    .ongoing-image{
        border-radius: 20px !important;
    }
   }
  
  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) { 
    .ongoing-image{
        border-radius: 25px !important;
    }
   }
  